<body onload="init();">
    <div>
        <h1>Take a snapshot of the current video stream</h1>
        Click on the Start WebCam button.
    </div>
    <div>
        <label for="urlServ">URL serveur</label>
        <input type="text" id="urlServ" value="/detection" placeholder="url serveur" />
    </div>
    <div>
        <label for="sendToURL">Send to URL</label>
        <input type="checkbox" id="sendToURL" />
    </div>
    <p>
        <button onclick="startWebcam();">Start WebCam</button>
        <button onclick="stopWebcam();">Stop WebCam</button>
        <button onclick="snapshot();">Take Snapshot</button>
        <button onclick="send_snapshot();">Send Snapshot</button>
    </p>
    <video onclick="snapshot(this);" width="400" height="400" id="video" controls autoplay></video>
    <div id="output"></div>
    <p>Screenshots :</p>

    <p>
        <canvas id="myCanvas" width="400" height="400"></canvas>
    </p>
</body>
<script>
    const SECONDS_INTERVAL = 20000;
    let interval;
    navigator.getUserMedia =
        navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

    var video;
    var webcamStream;
    var canvas, ctx;

    const urlServElement = document.getElementById("urlServ");
    let url = urlServElement.value;
    urlServElement.addEventListener("input", (e) => {
        const { value } = e.target;
        console.log(value);
        url = value;
    });

    const sendToURLElement = document.getElementById("sendToURL");
    let sendToURL = sendToURLElement.checked;
    sendToURLElement.addEventListener("change", (e) => {
        const { checked } = e.target;
        if (checked) {
            interval = setInterval(() => {
                if (webcamStream && video) {
                    snapshot();
                    send_snapshot();
                } else {
                    alert("Webcam not started");
                }
            }, SECONDS_INTERVAL);
        } else {
            clearInterval(interval);
        }
    });

    const startWebcam = async () => {
        if (navigator.getUserMedia) {
            navigator.getUserMedia(
                // constraints
                {
                    video: true,
                    audio: false,
                },
                (stream) => {
                    video = document.querySelector("video");
                    video.srcObject = stream;
                    webcamStream = stream;
                    let stream_settings = stream.getVideoTracks()[0].getSettings();
                    canvas.width = stream_settings.width;
                    canvas.height = stream_settings.height;
                },
                (err) => {
                    console.log("The following error occured: " + err);
                }
            );
        } else {
            alert("navigator.getUserMedia() not supported");
        }
    };

    function stopWebcam() {
        webcamStream.getTracks().forEach(function (track) {
            track.stop();
        });
        webcamStream = null;
    }

    function init() {
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext("2d");
    }

    function snapshot() {
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
    }

    function send_snapshot() {
        document.getElementById("output").innerHTML = "";
        document.getElementById("output").innerHTML = "<p>Request in Progess...</p>";

        var ImageURL = canvas.toDataURL("image/jpeg");
        var block = ImageURL.split(";");
        var realData = block[1].split(",")[1];

        var formDataToUpload = new FormData();
        formDataToUpload.append("image", realData);
        fetch(url, { method: "POST", body: formDataToUpload }).then(async response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return await response.json();
            })
            .then(data => {
                console.log(data)
                document.getElementById("output").innerHTML = "";
                document.getElementById("output").innerHTML = `<p>${data.message}</p>`;

            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById("output").innerHTML = "";
                document.getElementById("output").innerHTML = `<p>${error}</p>`;
            });
    }
</script>
