<body onload="init();">
    <div>
        <h1>Parking Camera</h1>
    </div>
    <p>
        <button onclick="snapshot();">Take a Picture</button>
    </p>
    <label>
        <input type="radio" name="direction" id="in" value="in" checked> In
      </label>
      
      <label>
        <input type="radio" name="direction" id="out" value="out"> Out
      </label>
      <br>
      <p>Picture :</p>
      <div id="output"></div>

          <canvas id="myCanvas" width="400" height="400"></canvas>

    <video onclick="snapshot(this);" width="400" height="400" id="video" controls autoplay></video>
<p>        <button onclick="startWebcam();">Start WebCam</button>
    <button onclick="stopWebcam();">Stop WebCam</button>
    <button onclick="send_snapshot();">Send Snapshot</button>

</p>
</body>
<script>
    navigator.getUserMedia =
        navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

    var video;
    var webcamStream;
    var canvas, ctx;

    const startWebcam = async () => {
        if (navigator.getUserMedia) {
            navigator.getUserMedia(
                // constraints
                {
                    video: true,
                    audio: false,
                },
                (stream) => {
                    video = document.querySelector("video");
                    video.srcObject = stream;
                    webcamStream = stream;
                    let stream_settings = stream.getVideoTracks()[0].getSettings();
                    canvas.width = stream_settings.width;
                    canvas.height = stream_settings.height;
                },
                (err) => {
                    console.log("The following error occured: " + err);
                }
            );
        } else {
            alert("navigator.getUserMedia() not supported");
        }
    };

    function stopWebcam() {
        webcamStream.getTracks().forEach(function (track) {
            track.stop();
        });
        webcamStream = null;
    }

    function init() {
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext("2d");
    }

    function snapshot() {
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
        send_snapshot();
    }

    function send_snapshot() {
        const url = "/detection";
        document.getElementById("output").innerHTML = "";
        document.getElementById("output").innerHTML = "<p>Request in Progress...</p>";

        var ImageURL = canvas.toDataURL("image/jpeg");
        var block = ImageURL.split(";");
        var realData = block[1].split(",")[1];
        const inRadioButton = document.getElementById('in');
        const outRadioButton = document.getElementById('out');
        var direction = "";

        if (inRadioButton.checked) {
            direction = 'in';
        } else if (outRadioButton.checked) {
            direction = 'out';
        }
        var formDataToUpload = new FormData();
        formDataToUpload.append("image", realData);
        formDataToUpload.append("direction", direction);
        fetch(url, { method: "POST", body: formDataToUpload }).then(async response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return await response.json();
            })
            .then(data => {
                console.log(data)
                document.getElementById("output").innerHTML = "";
                let srv = "";
                if(data.direction == "out"){
                if(data.srv.error){
                    srv = ` ${data.srv.error} `;
                    if(data.srv.needToPay){
                        srv += ` You need to pay : ${data.srv.needToPay}` ;
                    }
                }else{
                    srv = `You have paid :${data.srv.paid}, balance ${data.srv.balance}`;
                }
            }else if(data.direction=="in"){
                srv = "You can enter";
            }
                document.getElementById("output").innerHTML = `<p>{ plaque : ${data.message}, direction : ${data.direction} , srv : ${srv}} </p>`;

            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById("output").innerHTML = "";
                document.getElementById("output").innerHTML = `<p>${error}</p>`;
            });
    }
    startWebcam();
</script>
