<body onload="init();">
    <h1>Take a snapshot of the current video stream</h1>
    Click on the Start WebCam button.
    <p>
        <button onclick="startWebcam();">Start WebCam</button>
        <button onclick="stopWebcam();">Stop WebCam</button>
        <!-- <button onclick="snapshot();">Take Snapshot</button>
        <button onclick="send_snapshot();">Send Snapshot</button> -->
    </p>
    <video onclick="snapshot(this);" width="400" height="400" id="video" controls autoplay></video>
    <p>Screenshots :</p>

    <p>
        <canvas id="myCanvas" width="400" height="400"></canvas>
    </p>
</body>

<script>
    navigator.getUserMedia =
        navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

    var video;
    var webcamStream;

    function startWebcam() {
        if (navigator.getUserMedia) {
            navigator.getUserMedia(
                // constraints
                {
                    video: true,
                    audio: false,
                },

                // successCallback
                function (localMediaStream) {
                    video = document.querySelector("video");
                    video.srcObject = localMediaStream;
                    webcamStream = localMediaStream;
                    let stream_settings = localMediaStream.getVideoTracks()[0].getSettings();
                    canvas.width = stream_settings.width;
                    canvas.height = stream_settings.height;
                },

                // errorCallback
                function (err) {
                    console.log("The following error occured: " + err);
                }
            );
            setInterval(() => {
                snapshot();
                send_snapshot();
            }, 5000);
        } else {
            console.log("getUserMedia not supported");
        }
    }

    function stopWebcam() {
        webcamStream.getTracks().forEach(function (track) {
            track.stop();
        });
    }
    //---------------------
    // TAKE A SNAPSHOT CODE
    //---------------------
    var canvas, ctx;

    function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext("2d");
    }

    function snapshot() {
        // Draws current image from the video element into the canvas
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
    }
    function b64toBlob(b64Data, contentType, sliceSize) {
        contentType = contentType || "";
        sliceSize = sliceSize || 512;

        var byteCharacters = atob(b64Data); // window.atob(b64Data)
        var byteArrays = [];

        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
            var slice = byteCharacters.slice(offset, offset + sliceSize);

            var byteNumbers = new Array(slice.length);
            for (var i = 0; i < slice.length; i++) {
                byteNumbers[i] = slice.charCodeAt(i);
            }

            var byteArray = new Uint8Array(byteNumbers);

            byteArrays.push(byteArray);
        }

        var blob = new Blob(byteArrays, { type: contentType });
        return blob;
    }

    function send_snapshot() {
        var ImageURL = canvas.toDataURL("image/jpeg"); // 'photo' is your base64 image

        // Split the base64 string in data and contentType
        var block = ImageURL.split(";"); // get the real base64 content of the file
        var realData = block[1].split(",")[1];

        // Create a FormData and append the file with "image" as parameter name
        var formDataToUpload = new FormData();
        formDataToUpload.append("image", realData);
        fetch("/detection", { method: "POST", body: formDataToUpload });
    }
</script>
